fastapi==0.115.9
uvicorn==0.34.2
python-dotenv==1.1.0
pydantic==2.10.6
pydantic-settings==2.9.1

groq==0.25.0

google-genai==1.47.0

huggingface-hub==0.34.3

requests==2.32.3

python-multipart==0.0.20

loguru==0.7.3

openai==1.77.0